{% extends ../base.html %}

{% block title %}
Your Recommendations
{% end %}


{% block script %}
$(document).ready(function(){
    elements = document.getElementsByClassName("star {split:4}" );
    window.setInterval(function () {
        elements = document.getElementsByClassName("star {split:4}" );
        var ratingsList = {} 
        for (var i=0; i<elements.length;i++){
            if (elements[i].checked){
                ratingsList[elements[i].name] = elements[i].value
            }
        }
        $.post("/ratings",ratingsList);
    }, 250);
}) 


{% end %}

{% block content %}


{% if current_user %}

<div id="top5" class="ratingsBox" style="float:left">
<h3 align="center">Top 5 beers </h3>
{% for beer in top5 %}
    <div class='beer' id={{ beer[0] }} >
        <h2>{{ lookUp[beer[0]]['name'] }}
        {% if current_user %}
        <div style="float:right">
            {% for value in [".25",".5",".75","1","1.25","2.5","2.75","2","2.25","2.5","2.75","3","3.25","3.5","3.75","4","4.25","4.5","4.75","5"] %}
                <input name={{ beer[0] }}  type="radio" class="star {split:4}" value={{value}} />
            {% end%}
        </div>
        </h2>
        {% end %}
        <div class='brewery'>{{ lookUp[beer[0]]['brewery']  }} </div>
        <div style="float:right">We think you'll give it a {{ round(beer[1],2) }}</div>

        {% if lookUp[beer[0]]['avg'] != -1 %}
            <div class='averageRating'>Average Rating: {{ round(lookUp[beer[0]]['avg'],2) }}</div>
        {% end %}
                    
    </div>
{% end %}
</div>

<div id="bottom5" class="ratingsBox" style="float:right">
<h3 align="center">Bottom 5 beers  </h3>

{% for beer in bottom5 %}
    <div class='beer' id={{ beer[0] }} >
        <h2>{{ lookUp[beer[0]]['name'] }} 
        {% if current_user %}
        <div style="float:right">
            {% for value in [".25",".5",".75","1","1.25","2.5","2.75","2","2.25","2.5","2.75","3","3.25","3.5","3.75","4","4.25","4.5","4.75","5"] %}
                <input name={{ beer[0] }}  type="radio" class="star {split:4}" value={{value}} />
            {% end%}
        </div>
        </h2>
        {% end %}
        <div class='brewery'>{{ lookUp[beer[0]]['brewery']  }} </div>
        <div style="float:right">We think you'll give it a {{ round(beer[1],2) }}</div>

        {% if lookUp[beer[0]]['avg'] != -1 %}
            <div class='averageRating'>Average Rating: {{ round(lookUp[beer[0]]['avg'],2) }}</div>
        {% end %}
                    
    </div>
{% end %}
</div>


{% else %}
You're not logged in you drunk!
{% end %}

{% end %}
