{% extends ../base.html %}


{% block title %}
Two Pick Too Drunk
{% end %}

{% block content %}

{% if error %}
We are sorry, that username is already taken.  Would you like to try again?
{% else %}
Hello! Please Register!
{% end %}
<br/>
	<br/>
	<br/>

	<form id="login_form" action="register" method="post">
		<label class="grey" for="log">Username</label><br />
		<input type="text" name="username" style="width:50%" id="username"><br>
		<label class="grey" for="pwd">Password</label><br />
		<input type="password" name="password" style="width:50%" id="password"><br /><label />
        <label class="grey" for="fname">First Name</label><br />
		<input type="text" name="fName" style="width:50%" id="fName"><br>
		<label class="grey" for="lName">Last Name</label><br />
        <input type="text" name="lName" style="width:50%" id="lName"><br /><label />
        <label class="grey" for="email">Email</label><br />
		<input type="text" name="email" style="width:5args0%" id="email"><br>
		<input type="submit" id="loginbtn" name="login" value="LOGIN" class="button"><br />
	</form>
	<br/>
	<br/>
{% end %}
