{% extends base.html %}

{% block script %}
$(document).ready(function(){
    elements = document.getElementsByClassName("star {split:4}" );
    window.setInterval(function () {
        var ratingsList = {} 
        deleteButtons = document.getElementsByClassName("rating-cancel")
        for ( var x=0; x<deleteButtons.length; x++){
            stars = deleteButtons[x].parentNode.childNodes
            var isChecked = new Boolean(1);
            if( stars[0].className =="rating-cancel" && stars[1].className == "star-rating rater-0 star {split:4} star-rating-applied star-rating-live"){
                isChecked = false
            }
            if(isChecked==false){
                var beerId = deleteButtons[x].parentNode.parentNode.parentNode.parentNode.id
                ratingsList[beerId] = "0"
            }
         
        }
        
        elements = document.getElementsByClassName("star {split:4}" );
        for (var i=0; i<elements.length;i++){
            if (elements[i].checked){
                ratingsList[elements[i].name] = elements[i].value
            }
        }
        
        $.post("/ratings",ratingsList);
    }, 250);

}) 


{% end %}

{% block content %}

<form id="login_form" action="search" method="post">
        <label class="grey" for="search">Beer/Brewery</label>
        <input type="text" name="query" style="width:50%" id="search">
        <input type="submit" id="searchbtn" name="search" value="SEARCH" class="button" ><br />
</form>

<br>
    {% if len(beers)==0 %}
        Sorry, nothing matched your search
    {% end %}    
    {% if beers %}
        <div class="ratingBox" style="width:500px">
        {% for beer in beers %}
            <div class='beer' id={{ beer['BeerId'] }} >
                <h2>{{ beer['Name'] }}
                    {% if current_user %}
                        <div style="float:right">
                        {% for value in [".25",".5",".75","1","1.25","2.5","2.75","2","2.25","2.5","2.75","3","3.25","3.5","3.75","4","4.25","4.5","4.75","5"] %}
                            {% if beer['BeerId'] in updatedDict and value == updatedDict[beer['BeerId']] %}
                                <input name={{ beer['BeerId'] }}  type="radio" class="star {split:4}" value={{value}} checked/>
                            {% else %}
                                <input name={{ beer['BeerId'] }}  type="radio" class="star {split:4}" value={{value}} />
                            {% end %}
                        
                        {% end%}
                        </div>
                    {% end %}
                </h2>    
                <div class='brewery'>{{ beer['Brewery']  }} </div>
                {% if current_user and beer['BeerId'] in current_user.Recommendations.keys() %}
                    <div style="float:right">We think you'll give it a {{round(current_user.Recommendations[beer['BeerId']],2)}}</div>
                {% end %}
                {% if beer['AverageRating'] != -1 %}
                    <div class='averageRating'>Average Rating: {{ round(beer['AverageRating'],2) }}</div>
                {% end %}
                    
            </div>
        {% end %}
        </div>
    {% end %}

{% end %}
